/* index design */

.container,
.row,
.h2 {
    text-align: center;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 28px;
    border: 8px solid rgb(232, 232, 240);
    background-color: orange;
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-form-2 {
    padding: 5%;
    background: #1D1B31;
    border-radius: 28px;
    border: 8px solid rgb(232, 232, 240);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 600;
    transition: all 0.4s ease;
    white-space: nowrap;
}
.btnSubmit:hover {
    /* color: #1b1d10;
    background: #fff; */
    cursor: pointer;
    font-weight: bold;
}
.login-form-1 .btnSubmit {
    color: #fff;
    background-color: #1d1b31;
}
/* .login-form-1 .btnSubmit:hover{
    border: 8px solid rgb(232, 232, 240);
} */

.login-form-2 .btnSubmit {
    color: #11101d;
    background-color: #fff;
}
/* .login-form-2 .btnSubmit:hover{
    border: 8px solid rgba(232, 232, 240, 0.2);
} */

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #11101d;
    font-weight: 600;
    text-decoration: none;
}


/* Dashboard Design */